<div id="twitter">
  	<h2>Twitter Updates</h2>
      	<blockquote>
          This Twitter update is exactly 140 characters, so a complete update will 
          fit nicely into this column.  Working on template for Theme Forest.
          </blockquote>
  
  </div>
  
  <div id="recent-posts">
  	<h2>Recent Posts</h2>
      	<h4><a href="#">10 Ways to Market Your Business</a></h4>
          <h4><a href="#">Why Blogs Are So Important</a></h4>
          <h4><a href="#">Making Sales During a Recession</a></h4>
          <h4><a href="#">Business New Year's Resolutions</a></h4>
  </div>
  
  <div id="connect">
  	<h2>Connect With Us</h2>
      	<p>
          phone<span class="digits">800.555.1234</span><br />
          fax<span class="digits">800.555.4321</span>
          </p>
          <address>
          450 West Main Street <span><a class="map" href="#">(map)</a></span><br />
			City, State  12345
          </address>
          <a href="#"><img src="/media/img/template/twitter-icon.jpg" alt="Twitter" /></a>
          <a href="#"><img src="/media/img/template/facebook-icon.jpg" alt="Facebook" /></a>
          <a href="#"><img src="/media/img/template/flickr-icon.jpg" alt="Flickr" /></a>
  </div>