<div id="main-content-right">
	<h2>Location</h2>
    	<a href="#"><img id="google-map" src="images/map.jpg" alt="" /></a>
    <h2>Details</h2>
    <p>
        phone<span class="digits">800.555.1234</span><br />
        fax<span class="digits">800.555.4321</span>
        </p> 
    <address>
        450 West Main Street<br />
		City, State  12345
        </address>  
    <h2>Support Emails</h2>
    	<p>
        support<span class="emails">tech@yourcompany.com</span><br />
        sales<span class="emails">sales@yourcompnay.com</span>
        </p>     

</div>