<div id="main-content-right">
		<h2 id="testimonials">Testimonials</h2>
      	<p class="testimonial">
          "OMG.  DM is like the greatest company
           ever.  The results they got our small
           business were more than I could have
           ever expected."
          </p>
          <span class="client-name">Judy Roberts, CEO</span>
          <p class="testimonial">
          "OMG.  DM is like the greatest company
           ever.  The results they got our small
           business were more than I could have
           ever expected."
          </p>
          <span class="client-name">Judy Roberts, CEO</span>
  	
</div>